<h2><%= @video.title %></h2>

<p><%= h @video.panda_video.status %></p>
<p><%= h @video.panda_video.inspect %></p>
<p><%= h @video.panda_video.url %></p>

<% if @video.panda_video.status === "success" %>
            <video id="movie" width="<%= @video.panda_video.width %>" height="<%= @video.panda_video.height %>" preload="none" 
              poster="<%= @video.panda_video.url.gsub('.mp4','_1.jpg') %>" controls>
              <source src="<%= @video.panda_video.url %>" type="video/mp4">
            </video>
          <% end %>

<p class="well">
  <%= @video.description %>
  <br/>
  <%= link_to 'Edit', edit_video_path(@video) %>
</p>  