

<div class="col-md-12 row">
  <h1>
    <%= @photo.title %>
    <small>by <%= link_to @photo.user.name, vanity_url_path(@photo.user.profile)  %></small>
  </h1>
  <section class="col-md-6 row">
    <%= image_tag @photo.image.url(:standard), class: "img-thumbnail" %> 
      <ul class="img-nav">
         <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
        <li>
          <%= image_tag @photo.image.url(:sepia_thumb), class: "img-thumbnail"%>
        </li>
      </ul> 
  </section>
  <section class="well col-md-6 pull-right" >
    <span class="pull-right label label-default">
      <%= pluralize(@photo.views, ' views') %>
    </span>
    <p>
      <%= @photo.description %>
    </p>
    <p class="pull-right">
    <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_photo_path(:photo_id => @photo) %> | <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
  </section>
</div>


